.header-section {
    background: #53389E;

    color: white;
}

.header-section li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-section li a {
    color: white;
}

#talk {
    border-radius: 5px;
    display: block;
    background: #7F56D9;
}

.hero-area {
    background: #53389E;
    color: white;
    padding-top: 50px;
    padding-bottom: 35px;
}

#showbtn {
    color: #53389E;
}

#getbtn {
    background: #7F56D9;
}

.hero_image img {
    width: 100%;
    padding: 40px 10px;
}
.about_image img {
    width: 100%;
    height: 80%;
    padding: 20px 10px;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
}
#menu li a{
    color: rgb(104, 103, 103);
    padding: 15px 10px;
    display: block;
}
input{
    border-radius: 5px;
    border: 1px solid gray;
}
.sbtn{
    background: #53389E;
    color: white;
    margin-left: 20px;
}
 span{
    color: #53389E;
 }
 .logo{
    color: #53389E;
 }